* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
}

/*  USE NAV AS A LEGEND | USE NAV AS A LEGEND | USE NAV AS A LEGEND */

nav {
    position: absolute;
    top:0;
    left:0;
    margin: 1rem;
    background-color: azure;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}

ul {
    list-style-type: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: cornflowerblue;
}

main {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template: repeat(4,1fr) / repeat(3,1fr) ;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 900px;
    width:  50%;
    height: 50%;
    background-color: rgb(63, 119, 225);
    border-radius: 10px;
    padding: 10px;
}

/*  BASIC GRID CONTAINER FOR DISPLAYING CALL RESULTS */

.callTestContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
}

button {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    padding: 0.25rem;
}

.responseData {
    display: flex;
    background-color: black;
    color: rgb(49, 240, 32);
    width: 100%;
    max-height: fit-content;
    padding: 0.25rem;
}

.unAssigned {
    opacity: 0.15;
}

/*  SET FEATURES TO EASILY DISTINGUISH CALL TYPE    */
/*  (e.g., SHIPS, CONTRACTS, SYSTEMS, etc.)         */

.contract {
    background-color: wheat;
}

.ships {
    background-color: lightpink;
}


.users {
    background-color: aquamarine;
}
.markets {
    background-color:lightskyblue;

}
